/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
  background-color: rgb(251, 255, 255);
  padding: 0.5rem;
}
	
div.wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px;
  box-shadow:#626262 ;
  background-color: white;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color: #d2d6ef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0.5em 1.5em 0.5em;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  background-color: #fbfeff;
}

header h1 {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 200%;
}

/* ⬇ The h1's link */
header h1 a {
  text-decoration:none;
  color: rgb(88, 60, 188);
}

header h2 {
  font-size: 120%;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  background-color: #ffffff;
  padding: 1.5em;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: rgb(120, 120, 251); /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em 1em 1em 1em;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 1.5px;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 150%;
   color: rgba(12, 18, 188, 0.704);
   text-decoration: underline;
   padding-top: 0.5em;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 125%;
  line-height: 1.2em;
  background-color: rgb(255, 255, 255);
}

/* ⬇ This controls both asides */
main.homepage aside { 
padding: 1em 1em 1em 1em ;
background-color:#d2d6ef;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
   grid-column: 4/5;
   grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-column:4/5;
  grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 115%;
  line-height:1.4em;
  text-decoration: underline;

}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left:1rem;

}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
 color: #4521b1;
  text-decoration: none;
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: rgb(255, 255, 255);
  background-color: #1b5da8;
  
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  display: grid;
  grid-column: 1/5;
  grid-row: 4/5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  gap: 1em;
padding-top: 1em;
background-color: #d2d6ef;
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  padding: 1em 1em 1em 1em 1em 1em;
}

/* ⬇ Name of each building */
section.campus h3 {
   font-size: 120%;
  color: rgb(37, 15, 77);
  text-decoration: underline;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
margin-top: 0.5em;
margin-bottom: 0.5em;
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
   padding-top: 1em;
  font-size: 105%;
}



/* FOOTER
---------------------------------------*/

footer {
  background-color: rgb(236, 254, 254);
  padding: 1.5em 1em 1em 1em;
}

footer small { 
  font-size: 90%;
  line-height: 1.1em;

}

/* ⬇ The link in the footer */
footer a {
  
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

